// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

@import './style/variables';

.ico {
  font-family: icomoon, icomoon;

  &.footer {
    font-size: 18;
  }
}

.darker {
  .server {
    background-color: $darkerLight;

    Label {
      color: $white;

      &.categoryName {
        color: #8E9297;
      }

      &.ico.down {
        color: #8E9297;
      }

      &.ico.hashtag, &.name {
        color: #8E9297;
      }

    }
  }

  .usersSection {
    background-color: $darkerLight;

    Label {
      color: $white;
    }
  }

  .profileSection {
    background-color: $darkerFirst;

    Label {
      color: $white;
    }
  }

  .chat,
  .serversList {
    background-color: $darkerSecond;
  }

  .content {
    &.darkerColor {
      background-color: $darkerThird;
    }

    &.lighterColor {
      background-color: $darkerLight;
    }
  }

  .friendsSection {
    background-color: $darkerFirst;

    Label {
      color: $white;
    }
  }

  .footer {
    background-color: $darkerFirst;
  }
}

.lighter {
  .channels {
    background-color: $white;
  }
}

// Profile

AbsoluteLayout#profil {
  StackLayout.status {
    border-color: $darkerFirst;

    &.online {
      background-color: $green;
    }

    &.idle {
      background-color: $orange;
    }

    &.busy {
      background-color: $red;
    }

    &.invisible {
      background-color: $grey;
    }
  }
}
