// Dark theme

$darkerFirst: #1C1E22;
$darkerSecond: #202225;
$darkerThird: #2A2D31;
$darkerLight: #36393E;
$white: #FAFAFA;

$green: #3CA374;
$orange: #FAA61A;
$red: #F04747;
$grey: #747F8D;

// Light theme
